<div class="question-content">
  <h2 class="text-center mt-2">{{ question.text }}</h2>

  <div class="options-list mt-2">
    <div class="option-item" *ngFor="let option of question.options; let i = index">
      <input
        type="radio"
        [id]="'option-' + question.text + i"
        [name]="'options-' + question.text"
        (change)="selectOption(option.isCorrect)"
        class="hidden-radio"
      />
      <label [for]="'option-' + question.text + i" class="option-button">
        {{ option.text }}
      </label>
    </div>
  </div>
</div>
